.card-movie {
    max-width: 400px;
    margin: 20px auto;
  }
  .card-movie img {
   
    object-fit: cover;
  }
  .card-movie .card-title {
    font-size: 1.5rem;
  }
  .card-movie .card-text {
    font-size: 1rem;
  }